@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import "~select2/dist/css/select2.min.css";
@import "./header";
@import "./home";
@import "./card";
@import "./catalog";
@import "./select2custom";
@import "./slider-radio";
@import "./footer";
@import "./scrollup";

:root{
    --secondary-background: #2b2b31;
    --main-background: #131720;
    --main-color : #2f80ed;
    --second-color: #151f30;
    --three-color: #131720;
    --white-color: #fff;
    --grey-color: #e0e0e0e0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    background: var(--main-background);
    font-weight: 400;
    font-family: 'Inter','Source Sans Pro',sans-serif;
    -webkit-font-smoothing: antialiased;

    &.body--active:before {
        z-index: 99;
        opacity: 1;
        pointer-events: auto;
    }

    &:before {
        content: '';
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background-color: rgba(26,25,31,0.75);
        opacity: 0;
        pointer-events: none;
        transition: 0.4s ease;
    }

    &::-webkit-scrollbar{
        width: 13px;
    }
    &::-webkit-scrollbar-track{
        background: var(--second-color);
    }
    &::-webkit-scrollbar-thumb{
        background-color: #2f80ed;
        outline: 1px solid var(--second-color);
    }
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
    transition-property: color, background-color, border-color, opacity;
}
button:focus {
    outline: none;
}

a {
    transition: 0.4s ease;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        text-decoration: none;
    }
}
input,
textarea,
select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  transition: 0.4s;
  transition-property: color, border-color;

  &:focus{
    outline: none;
  }
}

.logo{
    color: var(--main-color);
}

.owl-carousel .owl-item img {
    width: auto;
    max-width: 100%;
}

@media (min-width: 1440px) {
    .container {
      max-width: 1310px;
    }
}